In [1]:
import pandas as pd
import numpy as np

In [9]:
df=pd.read_csv("task.csv")

In [38]:
df.head(5)

,customerid,name,age,email,gender,income,joindate,Age,gender_encoded,join_year,join_month,join_day
0,1001,Alice,25,alice@example.com,F,55000.0,2020-01-15,25,0,2020,1,15
1,1002,Bob,30,bob@example.com,M,60000.0,2019-03-22,30,1,2019,3,22
2,1003,Charlie,22,noemail@example.com,M,52000.0,2021-07-30,22,1,2021,7,30
3,1004,David,33,david@sample.com,M,58000.0,2020-11-01,33,1,2020,11,1
4,1005,Eve,45,eve@sample.com,F,59500.0,2021-05-12,45,0,2021,5,12

In [12]:
df.isnull().sum()

CustomerID    0
Name          0
Age           3
Email         3
Gender        1
Income        4
JoinDate      3
dtype: int64

In [15]:
df.drop_duplicates()

    CustomerID     Name   Age               Email Gender   Income    JoinDate
0         1001    Alice  25.0   alice@example.com      F  55000.0  2020-01-15
1         1002      Bob  30.0     bob@example.com      M  60000.0  2019-03-22
2         1003  Charlie  22.0                 NaN      M  52000.0  2021-07-30
3         1004    David   NaN    david@sample.com      M  58000.0  2020-11-01
4         1005      Eve  45.0      eve@sample.com      F      NaN  2021-05-12
5         1006    Frank  35.0    frank@sample.com      M  61000.0         NaN
6         1007    Grace  29.0    grace@sample.com      F  53000.0  2019-09-09
7         1008    Heidi  40.0                 NaN      F  59000.0  2022-01-25
8         1009     Ivan   NaN    ivan@example.com      M  62000.0  2018-12-12
9         1010     Judy  50.0     judy@sample.com      F      NaN  2020-06-18
10        1011     Karl  31.0     karl@sample.com      M  57000.0  2021-03-05
11        1012      Leo  28.0     leo@example.com      M  54000.0         NaN
12        1013  Mallory  33.0  mallory@sample.com      F  56000.0  2019-12-01
13        1014     Niaj  27.0    niaj@example.com    NaN  61000.0  2020-08-20
14        1015   Olivia  36.0  olivia@example.com      F  63000.0  2018-10-10
15        1016    Peggy  38.0   peggy@example.com      F      NaN  2022-02-14
16        1017  Quentin  44.0                 NaN      M  64000.0  2021-09-09
17        1018   Rupert  32.0   rupert@sample.com      M      NaN  2019-11-11
18        1019    Sybil   NaN   sybil@example.com      F  65000.0  2020-10-10
19        1020    Trudy  41.0    trudy@sample.com      F  60000.0         NaN

In [17]:
df['Age'] = df['Age'].fillna(df['Age'].median())
df['Email'] = df['Email'].fillna("noemail@example.com")
df['Income'] = pd.to_numeric(df['Income'], errors='coerce')
df['Income'] = df['Income'].fillna(df['Income'].median())
df['Gender'] = df['Gender'].fillna("Unknown")

In [19]:
df['Email'] = df['Email'].str.strip().str.lower()
df['Name'] = df['Name'].str.title().str.strip()

In [21]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [25]:
df['age'] = df['age'].astype(int)

In [34]:
df['join_year'] = df['joindate'].dt.year
df['join_month'] = df['joindate'].dt.month
df['join_day'] = df['joindate'].dt.day

In [35]:
df['gender_encoded'] = df['gender'].map({'F': 0, 'M': 1, 'Unknown': 2})

In [36]:
df.head()

,customerid,name,age,email,gender,income,joindate,Age,gender_encoded,join_year,join_month,join_day
0,1001,Alice,25,alice@example.com,F,55000.0,2020-01-15,25,0,2020,1,15
1,1002,Bob,30,bob@example.com,M,60000.0,2019-03-22,30,1,2019,3,22
2,1003,Charlie,22,noemail@example.com,M,52000.0,2021-07-30,22,1,2021,7,30
3,1004,David,33,david@sample.com,M,58000.0,2020-11-01,33,1,2020,11,1
4,1005,Eve,45,eve@sample.com,F,59500.0,2021-05-12,45,0,2021,5,12

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17 entries, 0 to 18
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customerid      17 non-null     int64
 1   name            17 non-null     object
 2   age             17 non-null     int64
 3   email           17 non-null     object
 4   gender          17 non-null     object
 5   income          17 non-null     float64
 6   joindate        17 non-null     datetime64[ns]
 7   Age             17 non-null     int64
 8   gender_encoded  17 non-null     int64
 9   join_year       17 non-null     int32
 10  join_month      17 non-null     int32
 11  join_day        17 non-null     int32
dtypes: datetime64[ns](1), float64(1), int32(3), int64(4), object(3)
memory usage: 1.5+ KB

In [40]:
df.describe()

,customerid,age,income,joindate,Age,gender_encoded,join_year,join_month,join_day
count,17.000000,17.000000,17.000000,17,17.000000,17.000000,17.000000,17.000000,17.000000
mean,1010.117647,34.176471,59000.000000,2020-07-15 08:28:14.117647104,34.176471,0.529412,2020.000000,7.058824,13.176471
min,1001.000000,22.000000,52000.000000,2018-10-10 00:00:00,22.000000,0.000000,2018.000000,1.000000,1.000000
25%,1005.000000,30.000000,57000.000000,2019-11-11 00:00:00,30.000000,0.000000,2019.000000,3.000000,9.000000
50%,1010.000000,33.000000,59500.000000,2020-08-20 00:00:00,33.000000,0.000000,2020.000000,8.000000,12.000000
75%,1015.000000,38.000000,61000.000000,2021-05-12 00:00:00,38.000000,1.000000,2021.000000,10.000000,18.000000
max,1019.000000,50.000000,65000.000000,2022-02-14 00:00:00,50.000000,2.000000,2022.000000,12.000000,30.000000
std,5.861765,7.350470,3596.873642,NaN,7.350470,0.624264,1.224745,3.896643,7.907554